.spacer {
    display: block;
}

.vertical {
    width: 1px;
}

.horizontal {
    height: 1px;
}

.xs {
    height: var(--spacing-xs);
    width: var(--spacing-xs);
}

.sm {
    height: var(--spacing-sm);
    width: var(--spacing-sm);
}

.md {
    height: var(--spacing-md);
    width: var(--spacing-md);
}

.lg {
    height: var(--spacing-lg);
    width: var(--spacing-lg);
}

.xl {
    height: var(--spacing-xl);
    width: var(--spacing-xl);
}

.twoXl {
    height: var(--spacing-2xl);
    width: var(--spacing-2xl);
}
